*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    width:100%;
    background:#2563eb;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar h2{
    font-size:28px;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}

.nav-links a:hover{
    color:yellow;
}